<% title "Criteria" %>

<table>
  <tr>
    <th>Title</th>
    <th>Rank</th>
  </tr>
  <% for criterion in @criteria %>
    <tr>
      <td><%= criterion.title %></td>
      <td><%= criterion.rank %></td>
      <td><%= link_to "Show", criterion %></td>
      <td><%= link_to "Edit", edit_criterion_path(criterion) %></td>
      <td><%= link_to "Destroy", criterion, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Criterion", new_criterion_path %></p>
