<% title "Criterion" %>

<p>
  <strong>Title:</strong>
  <%= @criterion.title %>
</p>
<p>
  <strong>Rank:</strong>
  <%= @criterion.rank %>
</p>

<p>
  <%= link_to "Edit", edit_criterion_path(@criterion) %> |
  <%= link_to "Destroy", @criterion, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", criteria_path %>
</p>
