<% title "Ideas" %>
<%= link_to "Back to the rankings", rankings_url %>
<p><%= render 'form', :idea => Idea.new %></p>

<% @ideas.each do |idea| %>
  <h4><%= link_to idea.title, idea %></h4>
  <p><%= simple_format idea.concept %></p>
<% end %>

<br />
<p><%= render 'form', :idea => Idea.new %></p>
<%= link_to "Back to the rankings", rankings_url %>
