<p><%= link_to "Go back to ranking the ideas", rankings_url %></p>
<% title "Ideas" %>

<% @ideas_scores.each do |idea, score| %>
  <h4><%= link_to idea.title, idea %><span>score: <%= score %></span></h4>
  <p><%= simple_format idea.concept %></p>
<% end %>

<p><%= link_to "Go back to ranking the ideas", rankings_url %></p>
<p><%= link_to "New Idea", new_idea_path %></p>
